.cabecalho {
    background-color: #a81031;
    color: hwb(345 32% 25%);
    display:flex;
    justify-content: space-around;
}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display:inline-block;
}
